In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df_json = pd.read_json('myDatabase.facebook_posts.json')

In [4]:
# dispaly all columns from json 
pd.set_option('display.max_columns', None)
df_json.head()

,_id,Post_Content,page,Date,Comments,type
0,{'$oid': '645b5de694a0b0947d4ead81'},وسادة الحمل والرضاعة الحجم الكبير 180*80 ب سع...,ellyshop.uae,May 1 at 1:45 AM,[{'UID': 'https://www.facebook.com/people/Raha...,NaN
1,{'$oid': '645b5de694a0b0947d4ead82'},البلف المضيء ل الاربع كوشوكات ب سعر 4.99 دناني...,ellyshop.uae,April 30 at 1:17 AM,[{'UID': 'https://www.facebook.com/dagamseh.mo...,NaN
2,{'$oid': '645b5de694a0b0947d4ead83'},الة تسليك المجاري وعلاج انسداد مواسير الصرف ال...,ellyshop.uae,April 9,[{'UID': 'https://www.facebook.com/mahmoud.kha...,NaN
3,{'$oid': '645b5de694a0b0947d4ead84'},مرآة تجميل X10 مع لمبة ليد مريحة للاستخدام-مرن...,ellyshop.uae,April 6,[{'UID': 'https://www.facebook.com/people/Sahe...,NaN
4,{'$oid': '645b5de694a0b0947d4ead85'},تعبئة فراغات الشعر متوفر لون اسود ولون بنيالعب...,ellyshop.uae,April 4,[{'UID': 'https://www.facebook.com/people/%D8%...,NaN

In [5]:
df_json.shape

(43829, 6)

In [6]:
# convert json to dataframe
df = pd.DataFrame(df_json)

In [7]:
# new datarame only with columns we need: _id and Post_Content 
df = df[['_id', 'Post_Content']]

In [8]:
df.head()

,_id,Post_Content
0,{'$oid': '645b5de694a0b0947d4ead81'},وسادة الحمل والرضاعة الحجم الكبير 180*80 ب سع...
1,{'$oid': '645b5de694a0b0947d4ead82'},البلف المضيء ل الاربع كوشوكات ب سعر 4.99 دناني...
2,{'$oid': '645b5de694a0b0947d4ead83'},الة تسليك المجاري وعلاج انسداد مواسير الصرف ال...
3,{'$oid': '645b5de694a0b0947d4ead84'},مرآة تجميل X10 مع لمبة ليد مريحة للاستخدام-مرن...
4,{'$oid': '645b5de694a0b0947d4ead85'},تعبئة فراغات الشعر متوفر لون اسود ولون بنيالعب...

In [9]:
df.isnull().sum()

_id             0
Post_Content    0
dtype: int64

In [12]:
# check for duplicates
df.duplicated(subset='Post_Content').sum()

22694

In [14]:
df = df.drop_duplicates(subset='Post_Content', keep='first')

In [15]:
df.shape

(21135, 2)

In [10]:
ids = df['_id'].tolist()
names = df['Post_Content'].tolist()

In [14]:
# save dataframe to csv
df.to_csv('myDatabase.facebook_posts.csv', index=False)